################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.tmp.driveupload
/DVLD/obj/Debug
/DVLD/.vs
/DVLD/bin/Debug
/DVLD_Data/obj/Debug
/DVLD_Data/bin/Debug
